/* анимации */
.fade-in {
    animation: fadeIn ease 0.3s;
    -webkit-animation: fadeIn ease 0.3s;
    -moz-animation: fadeIn ease 0.3s;
    -o-animation: fadeIn ease 0.3s;
    -ms-animation: fadeIn ease 0.3s;
  }

  .fade-out {
    animation: fadeOut ease 0.3s;
    -webkit-animation: fadeOut ease 0.3s;
    -moz-animation: fadeOut ease 0.3s;
    -o-animation: fadeOut ease 0.3s;
    -ms-animation: fadeOut ease 0.3s;
  }

  .fast-fade-in {
    animation: fadeIn ease 0.15s;
    -webkit-animation: fadeIn ease 0.15s;
    -moz-animation: fadeIn ease 0.15s;
    -o-animation: fadeIn ease 0.15s;
    -ms-animation: fadeIn ease 0.15s;
  }

  .zoom-in{
    animation: zoomIn ease-in-out 0.4s;
    -webkit-animation: zoomIn ease-in-out 0.4s;
    -moz-animation: zoomIn ease-in-out 0.4s;
    -o-animation: zoomIn ease-in-out 0.4s;
    -ms-animation: zoomIn ease-in-out 0.4s;
  }

  .slideDown{
    animation: slideDown ease 0.3s;
    -webkit-animation: slideDown ease 0.3s;
    -moz-animation: slideDown ease 0.3s;
    -o-animation: slideDown ease 0.3s;
    -ms-animation: slideDown ease 0.3s;
  }

  .slideUp{
    animation: slideUp ease-in-out 0.2s;
    -webkit-animation: slideUp ease-in-out 0.3s;
    -moz-animation: slideUp ease-in-out 0.3s;
    -o-animation: slideUp ease-in-out 0.3s;
    -ms-animation: slideUp ease-in-out 0.3s;
  }


  @keyframes zoomIn{
    0%{
      opacity: 0;
      transform: scale(0.3) translate3d(0,0,0);
    }
    100%{
      opacity: 1;
      transform: scale(1.0);
    }
  }



  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  ///

  @keyframes fadeOut{
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }

  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }

/* SLIDE DOWN */
  @keyframes slideDown{
    0% {
      opacity:0;
      top:-20px;
    }
    100% {
      opacity:1;
      top:0px;
    }
  }

  
  @-moz-keyframes slideDown{
    0% {
      opacity:0;
      top:-20px;
    }
    100% {
      opacity:1;
      top:0px;
    }
  }

  
  @-webkit-keyframes slideDown{
    0% {
      opacity:0;
      top:-20px;
    }
    100% {
      opacity:1;
      top:0px;
    }
  }

  
  @-o-keyframes slideDown{
    0% {
      opacity:0;
      top:-20px;
    }
    100% {
      opacity:1;
      top:0px;
    }
  }

    
  @-ms-keyframes slideDown{
    0% {
      opacity:0;
      top:-20px;
    }
    100% {
      opacity:1;
      top:0px;
    }
  }

  /* SLIDE UP */
  @keyframes slideUp{
    0% {
      opacity:0;
      bottom:-20px;
    }
    100% {
      opacity:1;
      bottom:0px;
    }
  }

  
  @-moz-keyframes slideUp{
    0% {
      opacity:0;
      bottom:-20px;
    }
    100% {
      opacity:1;
      bottom:0px;
    }
  }

  
  @-webkit-keyframes slideUp{
    0% {
      opacity:0;
      bottom:-20px;
    }
    100% {
      opacity:1;
      bottom:0px;
    }
  }

  @-o-keyframes slideUp{
    0% {
      opacity:0;
      bottom:-20px;
    }
    100% {
      opacity:1;
      bottom:0px;
    }
  }

  @-ms-keyframes slideUp{
    0% {
      opacity:0;
      bottom:-20px;
    }
    100% {
      opacity:1;
      bottom:0px;
    }
  }


  /*АНИМАЦИЯ СПИННЕРА*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  margin: 0 auto;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #3273dc transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




.blinking-anim{
animation:blink 1.5s infinite ease-in;
}
@keyframes blink {
  0% {
         color: rgba(0,0,0,1)
  }
  50% {
         color: rgba(0,0,0,0.1)
  }
  100% {
         color: rgba(0,0,0,1)
  }
}


@keyframes comment_blink {
  0% {
         background-color:rgba(255,255,255,0.8);
  }
  25% {
    background-color:rgba(255, 255, 255, 0.46);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
  }

  75% {
    background-color:rgba(255, 255, 255, 0.46);
  }

  100% {
    background-color:rgba(255, 255, 255, 0.8);
  }
}

.comment-blinking-anim{
  animation:comment_blink 2s ease-in;
  border-radius: 15px;
  }

