/*здесь хранятся кастомные стили не связанные с bulma*/
/*стили элементов созданных вручную (например, шапка сайта и т.д)*/

.blinking-anim{
	animation:blink 1.5s infinite ease-in;
}
@keyframes blink {
    0% {
           color: rgba(0,0,0,1)
    }
    50% {
           color: rgba(0,0,0,0.1)
    }
    100% {
           color: rgba(0,0,0,1)
    }
}


body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
}


.invisible {
    display: none;
}

/*шапка сайта, div блок*/
.header {
    background-color: rgba(218, 134, 40, 0.171);
}

/*заголовок сайта, h1*/
.web-site-title {
    color:white;
    font-size: 45pt;
    text-shadow: 2px 2px 0px #000000;
}

/*подзаголовок сайтаю, h2*/
.web-site-subtitle {
    color:white;
    font-weight: bold;
    text-shadow: 2px 2px 0px #000000;
}

.footer {
    /* background-color: rgba(189, 153, 112, 0.397);
    position: absolute;
    height: 10%;
    width: 100%;
    bottom: 0; */
    background-color: rgba(189, 153, 112, 0.397);
    position: absolute;
    right: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.white-bg{
    background-color: rgba(255,255,255,0.46);
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.action-button{
    background-color: rgba(255,255,255,0.25);
    border-style: none;
    color: red;
    border-radius: 10px;
}

.action-button:hover{
    background-color: rgba(255,255,255,0.45);
}

.img-border{
    border-radius: 20px;
}

.inline{
    display: inline;
}

.subtitle-display-name{
    cursor: pointer;
}

.subtitle-display-name:hover{
   color: rgb(50,115,220);
}

.ignore{
    pointer-events: none;
}

.edit_display_name{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.edit_display_input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}