/*здесь хранятся кастомные стили не связанные с bulma*/
/*стили элементов созданных вручную (например, шапка сайта и т.д)*/

body, html {
    height: 100%;
}

/*шапка сайта, div блок*/
.header {
    background-color: aquamarine;
    height: 25%;
}

/*заголовок сайта, h1*/
.web-site-title {
    font-size: 45pt;
    text-shadow: 2px 2px 0px #000000;
}

/*подзаголовок сайтаю, h2*/
.web-site-subtitle {
    font-weight: bold;
    text-shadow: 2px 2px 0px #000000;
}

.footer {
    background-color: beige;
    position: absolute;
    height: 10%;
    width: 100%;
    bottom: 0;
}